* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: lightgray;
}

.nav-links {
  display: flex;
  justify-content: center; 
  width: 100%; 
}

.nav-links li {
  list-style: none;
  display: inline-block;
  padding: 20px 1px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #008080;
}

.nav-links a:hover {
  color: #000;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;
}

.search-form-wrapper {
  width: 400px;
  margin: 50px auto;
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  background: #f2f2f2;
  border: none;
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
}

button {
  display: block;
  background-color: #1E90FF;
  color: #fff;
  text-align: center;
  padding: 14px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  border: none;
}

button:hover {
  background-color: #000080;
}

#result {
  display: none; 
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

#forecast {
  width: 100%;
  margin-top: 20px;
  /* Add a fixed height and enable scrolling */
  max-height: 400px;
  overflow-y: auto;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.forecast-card p {
  margin: 5px 0;
  font-size: 18px;
}

/* Styling for Font Awesome icons */
.forecast-card .fas {
  font-size: 24px;
  margin-right: 5px;
}


@media (max-width: 768px) {
  .forecast-card {
    width: 150px;
  }
}


.footer-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  color: black;
  text-align: center;
}

.footer-logo h4 {
  margin: 0;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-links li {
  margin-right: 10px;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}
